# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
data/orig_txt/Zodio.txt
data/corpus_mnl_rijm/AB_re.xml
data/corpus_mnl_rijm/ADoet.xml
data/corpus_mnl_rijm/AG.xml
data/corpus_mnl_rijm/AbrSar.xml
data/corpus_mnl_rijm/Aiol_Vl.xml
data/corpus_mnl_rijm/AnatMe.xml
data/corpus_mnl_rijm/Antichr.xml
data/corpus_mnl_rijm/Antio_G.xml
data/corpus_mnl_rijm/Antio_L.xml
data/corpus_mnl_rijm/Antio_W.xml
data/corpus_mnl_rijm/Aspre.xml
data/corpus_mnl_rijm/Aubri.xml
data/corpus_mnl_rijm/BWrak.xml
data/corpus_mnl_rijm/BY1-5.xml
data/corpus_mnl_rijm/BY6.xml
data/corpus_mnl_rijm/BY7.xml
data/corpus_mnl_rijm/BaJo_Ge.xml
data/corpus_mnl_rijm/BaJo_Go.xml
data/corpus_mnl_rijm/Beatr.xml
data/corpus_mnl_rijm/Behou.xml
data/corpus_mnl_rijm/BoExem.xml
data/corpus_mnl_rijm/Bord_L.xml
data/corpus_mnl_rijm/Bord_M.xml
data/corpus_mnl_rijm/BrRose.xml
data/corpus_mnl_rijm/BraKo1.xml
data/corpus_mnl_rijm/BraKo2.xml
data/corpus_mnl_rijm/BraLa.xml
data/corpus_mnl_rijm/Brandaen.xml
data/corpus_mnl_rijm/Busk.xml
data/corpus_mnl_rijm/Caesar.xml
data/corpus_mnl_rijm/CassK1350.xml
data/corpus_mnl_rijm/CassL1350.xml
data/corpus_mnl_rijm/CassL1360.xml
data/corpus_mnl_rijm/Cassant.xml
data/corpus_mnl_rijm/ComHo.xml
data/corpus_mnl_rijm/Couchi_A.xml
data/corpus_mnl_rijm/Couchi_Br.xml
data/corpus_mnl_rijm/Couchi_DP.xml
data/corpus_mnl_rijm/Couchi_F.xml
data/corpus_mnl_rijm/Crecy.xml
data/corpus_mnl_rijm/Crux.xml
data/corpus_mnl_rijm/Cyrom.xml
data/corpus_mnl_rijm/Denem.xml
data/corpus_mnl_rijm/DiDoc.xml
data/corpus_mnl_rijm/DrDaHe.xml
data/corpus_mnl_rijm/Eduw.xml
data/corpus_mnl_rijm/Esmo.xml
data/corpus_mnl_rijm/Esop.xml
data/corpus_mnl_rijm/Ferg.xml
data/corpus_mnl_rijm/Fiera.xml
data/corpus_mnl_rijm/Flandr.xml
data/corpus_mnl_rijm/FloBla.xml
data/corpus_mnl_rijm/FloDur.xml
data/corpus_mnl_rijm/Floov.xml
data/corpus_mnl_rijm/Flori_DB.xml
data/corpus_mnl_rijm/Flori_L.xml
data/corpus_mnl_rijm/Florim.xml
data/corpus_mnl_rijm/Frene.xml
data/corpus_mnl_rijm/Fysio.xml
data/corpus_mnl_rijm/Gaver.xml
data/corpus_mnl_rijm/Gerae.xml
data/corpus_mnl_rijm/Ghebo.xml
data/corpus_mnl_rijm/Ghevene.xml
data/corpus_mnl_rijm/Glor.xml
data/corpus_mnl_rijm/Glose.xml
data/corpus_mnl_rijm/GoBaerd.xml
data/corpus_mnl_rijm/GoKint.xml
data/corpus_mnl_rijm/Grale.xml
data/corpus_mnl_rijm/GrimOo.xml
data/corpus_mnl_rijm/GruHuGb.xml
data/corpus_mnl_rijm/GruHuGd.xml
data/corpus_mnl_rijm/Gwid.xml
data/corpus_mnl_rijm/Haghe.xml
data/corpus_mnl_rijm/HdH.xml
data/corpus_mnl_rijm/Heelal.xml
data/corpus_mnl_rijm/HeimMV.xml
data/corpus_mnl_rijm/HemTek.xml
data/corpus_mnl_rijm/Hexe.xml
data/corpus_mnl_rijm/Hildeg.xml
data/corpus_mnl_rijm/Holland.xml
data/corpus_mnl_rijm/Hout.xml
data/corpus_mnl_rijm/Ieche.xml
data/corpus_mnl_rijm/JaTee.xml
data/corpus_mnl_rijm/JonRos.xml
data/corpus_mnl_rijm/JonRos_A.xml
data/corpus_mnl_rijm/JonRos_G.xml
data/corpus_mnl_rijm/KaEleg.xml
data/corpus_mnl_rijm/Kunera.xml
data/corpus_mnl_rijm/Lanc.xml
data/corpus_mnl_rijm/Lanc_Br.xml
data/corpus_mnl_rijm/Lapid.xml
data/corpus_mnl_rijm/Lede.xml
data/corpus_mnl_rijm/LekSpi.xml
data/corpus_mnl_rijm/LevOnsHer.xml
data/corpus_mnl_rijm/Limb.xml
data/corpus_mnl_rijm/Lion.xml
data/corpus_mnl_rijm/Lip.xml
data/corpus_mnl_rijm/Lorr.xml
data/corpus_mnl_rijm/LoyMal_A.xml
data/corpus_mnl_rijm/LoyMal_L1.xml
data/corpus_mnl_rijm/LoyMal_L2.xml
data/corpus_mnl_rijm/Lucid.xml
data/corpus_mnl_rijm/Lun1.xml
data/corpus_mnl_rijm/Lun2.xml
data/corpus_mnl_rijm/Lun3.xml
data/corpus_mnl_rijm/Luyck.xml
data/corpus_mnl_rijm/MLoep.xml
data/corpus_mnl_rijm/Madel_A.xml
data/corpus_mnl_rijm/Madel_B.xml
data/corpus_mnl_rijm/Masker.xml
data/corpus_mnl_rijm/Melib.xml
data/corpus_mnl_rijm/Meng.xml
data/corpus_mnl_rijm/MerlB.xml
data/corpus_mnl_rijm/Merl_A.xml
data/corpus_mnl_rijm/Merl_Ma.xml
data/corpus_mnl_rijm/Merl_Mu.xml
data/corpus_mnl_rijm/Missen.xml
data/corpus_mnl_rijm/Mor.xml
data/corpus_mnl_rijm/Mouw.xml
data/corpus_mnl_rijm/Mouw_Br.xml
data/corpus_mnl_rijm/NegenK.xml
data/corpus_mnl_rijm/NegenL.xml
data/corpus_mnl_rijm/NiDoc.xml
data/corpus_mnl_rijm/O1.xml
data/corpus_mnl_rijm/O3.xml
data/corpus_mnl_rijm/O4.xml
data/corpus_mnl_rijm/O6.xml
data/corpus_mnl_rijm/OX.xml
data/corpus_mnl_rijm/Ogi_Br1.xml
data/corpus_mnl_rijm/Ogi_Br2.xml
data/corpus_mnl_rijm/Ogi_I.xml
data/corpus_mnl_rijm/Parth_Be.xml
data/corpus_mnl_rijm/Parth_Br.xml
data/corpus_mnl_rijm/Parth_K1.xml
data/corpus_mnl_rijm/Parth_K3.xml
data/corpus_mnl_rijm/Parth_Ma.xml
data/corpus_mnl_rijm/Parth_Pr.xml
data/corpus_mnl_rijm/Pass.xml
data/corpus_mnl_rijm/Patric.xml
data/corpus_mnl_rijm/Perc.xml
data/corpus_mnl_rijm/Perc_Br.xml
data/corpus_mnl_rijm/Perc_Br 2.xml
data/corpus_mnl_rijm/Plagh.xml
data/corpus_mnl_rijm/Quees.xml
data/corpus_mnl_rijm/ReinHist.xml
data/corpus_mnl_rijm/Renout_Be.xml
data/corpus_mnl_rijm/Renout_Be 2.xml
data/corpus_mnl_rijm/Renout_DH.xml
data/corpus_mnl_rijm/Renout_I.xml
data/corpus_mnl_rijm/Renout_S.xml
data/corpus_mnl_rijm/Reynaert.xml
data/corpus_mnl_rijm/RijmSpr.xml
data/corpus_mnl_rijm/Roel_A.xml
data/corpus_mnl_rijm/Roel_Br.xml
data/corpus_mnl_rijm/Roel_Ri.xml
data/corpus_mnl_rijm/Roel_Ro.xml
data/corpus_mnl_rijm/Rome.xml
data/corpus_mnl_rijm/Rubben.xml
data/corpus_mnl_rijm/SFl.xml
data/corpus_mnl_rijm/Saladin.xml
data/corpus_mnl_rijm/Sall.xml
data/corpus_mnl_rijm/Sebo_A.xml
data/corpus_mnl_rijm/Serv_L.xml
data/corpus_mnl_rijm/Sonde.xml
data/corpus_mnl_rijm/Sonde_Ge1.xml
data/corpus_mnl_rijm/Sonde_Ge2.xml
data/corpus_mnl_rijm/SpH2.xml
data/corpus_mnl_rijm/SpH4_ge4.xml
data/corpus_mnl_rijm/SpH4_m.xml
data/corpus_mnl_rijm/SpH5_5.xml
data/corpus_mnl_rijm/SpHMaerl.xml
data/corpus_mnl_rijm/Splint.xml
data/corpus_mnl_rijm/Theoph.xml
data/corpus_mnl_rijm/Torec.xml
data/corpus_mnl_rijm/Troyen.xml
data/corpus_mnl_rijm/Truwa.xml
data/corpus_mnl_rijm/Verg1.xml
data/corpus_mnl_rijm/Verg2.xml
data/corpus_mnl_rijm/Vingher.xml
data/corpus_mnl_rijm/VlRose.xml
data/corpus_mnl_rijm/VrHeim.xml
data/corpus_mnl_rijm/WalKey.xml
data/corpus_mnl_rijm/Walew.xml
data/corpus_mnl_rijm/WinterSomer.xml
data/corpus_mnl_rijm/WitVoe.xml
data/corpus_mnl_rijm/Woe.xml
data/corpus_mnl_rijm/WondeK.xml
data/corpus_mnl_rijm/WondeL.xml
data/corpus_mnl_rijm/WraRa.xml
data/corpus_mnl_rijm/WraRa_d1.xml
data/corpus_mnl_rijm/YstBl.xml
data/corpus_mnl_rijm/Zodio.xml
data/corpus_mnl_rijm/Gysseling/Lutgard_K.xml
data/corpus_mnl_rijm/Gysseling/Rijmbijbel.xml
data/corpus_mnl_rijm/Lutgart/Lutgard_K.xml
data/orig_txt/AB_re.txt
data/orig_txt/ADoet.txt
data/orig_txt/AG.txt
data/orig_txt/AbrSar.txt
data/orig_txt/Aiol_Vl.txt
data/orig_txt/AnatMe.txt
data/orig_txt/Antichr.txt
data/orig_txt/Antio_G.txt
data/orig_txt/Antio_L.txt
data/orig_txt/Antio_W.txt
data/orig_txt/Aspre.txt
data/orig_txt/Aubri.txt
data/orig_txt/BWrak.txt
data/orig_txt/BY1-5.txt
data/orig_txt/BY6.txt
data/orig_txt/BY7.txt
data/orig_txt/BaJo_Ge.txt
data/orig_txt/BaJo_Go.txt
data/orig_txt/Beatr.txt
data/orig_txt/Behou.txt
data/orig_txt/BoExem.txt
data/orig_txt/Bord_L.txt
data/orig_txt/Bord_M.txt
data/orig_txt/BrRose.txt
data/orig_txt/BraKo1.txt
data/orig_txt/BraKo2.txt
data/orig_txt/BraLa.txt
data/orig_txt/Brandaen.txt
data/orig_txt/Busk.txt
data/orig_txt/Caesar.txt
data/orig_txt/CassK1350.txt
data/orig_txt/CassL1350.txt
data/orig_txt/CassL1360.txt
data/orig_txt/Cassant.txt
data/orig_txt/ComHo.txt
data/orig_txt/Couchi_A.txt
data/orig_txt/Couchi_Br.txt
data/orig_txt/Couchi_DP.txt
data/orig_txt/Couchi_F.txt
data/orig_txt/Crecy.txt
data/orig_txt/Crux.txt
data/orig_txt/Cyrom.txt
data/orig_txt/Denem.txt
data/orig_txt/DiDoc.txt
data/orig_txt/DrDaHe.txt
data/orig_txt/Eduw.txt
data/orig_txt/Esmo.txt
data/orig_txt/Esop.txt
data/orig_txt/Ferg.txt
data/orig_txt/Fiera.txt
data/orig_txt/Flandr.txt
data/orig_txt/FloBla.txt
data/orig_txt/FloDur.txt
data/orig_txt/Floov.txt
data/orig_txt/Flori_DB.txt
data/orig_txt/Flori_L.txt
data/orig_txt/Florim.txt
data/orig_txt/Frene.txt
data/orig_txt/Fysio.txt
data/orig_txt/Gaver.txt
data/orig_txt/Gerae.txt
data/orig_txt/Ghebo.txt
data/orig_txt/Ghevene.txt
data/orig_txt/Glor.txt
data/orig_txt/Glose.txt
data/orig_txt/GoBaerd.txt
data/orig_txt/GoKint.txt
data/orig_txt/Grale.txt
data/orig_txt/GrimOo.txt
data/orig_txt/GruHuGb.txt
data/orig_txt/GruHuGd.txt
data/orig_txt/Gwid.txt
data/orig_txt/Haghe.txt
data/orig_txt/HdH.txt
data/orig_txt/Heelal.txt
data/orig_txt/HeimMV.txt
data/orig_txt/HemTek.txt
data/orig_txt/Hexe.txt
data/orig_txt/Hildeg.txt
data/orig_txt/Holland.txt
data/orig_txt/Hout.txt
data/orig_txt/Ieche.txt
data/orig_txt/JaTee.txt
data/orig_txt/JonRos.txt
data/orig_txt/JonRos_A.txt
data/orig_txt/JonRos_G.txt
data/orig_txt/KaEleg.txt
data/orig_txt/Kunera.txt
data/orig_txt/Lanc.txt
data/orig_txt/Lanc_Br.txt
data/orig_txt/Lapid.txt
data/orig_txt/Lede.txt
data/orig_txt/LekSpi.txt
data/orig_txt/LevOnsHer.txt
data/orig_txt/Limb.txt
data/orig_txt/Lion.txt
data/orig_txt/Lip.txt
data/orig_txt/Lorr.txt
data/orig_txt/LoyMal_A.txt
data/orig_txt/LoyMal_L1.txt
data/orig_txt/LoyMal_L2.txt
data/orig_txt/Lucid.txt
data/orig_txt/Lun1.txt
data/orig_txt/Lun2.txt
data/orig_txt/Lun3.txt
data/orig_txt/Luyck.txt
data/orig_txt/MLoep.txt
data/orig_txt/Madel_A.txt
data/orig_txt/Madel_B.txt
data/orig_txt/Masker.txt
data/orig_txt/Melib.txt
data/orig_txt/Meng.txt
data/orig_txt/MerlB.txt
data/orig_txt/Merl_A.txt
data/orig_txt/Merl_Ma.txt
data/orig_txt/Merl_Mu.txt
data/orig_txt/Missen.txt
data/orig_txt/Mor.txt
data/orig_txt/Mouw.txt
data/orig_txt/Mouw_Br.txt
data/orig_txt/NegenK.txt
data/orig_txt/NegenL.txt
data/orig_txt/NiDoc.txt
data/orig_txt/O1.txt
data/orig_txt/O3.txt
data/orig_txt/O4.txt
data/orig_txt/O6.txt
data/orig_txt/OX.txt
data/orig_txt/Ogi_Br1.txt
data/orig_txt/Ogi_Br2.txt
data/orig_txt/Ogi_I.txt
data/orig_txt/Parth_Be.txt
data/orig_txt/Parth_Br.txt
data/orig_txt/Parth_K1.txt
data/orig_txt/Parth_K3.txt
data/orig_txt/Parth_Ma.txt
data/orig_txt/Parth_Pr.txt
data/orig_txt/Pass.txt
data/orig_txt/Patric.txt
data/orig_txt/Perc.txt
data/orig_txt/Perc_Br.txt
data/orig_txt/Perc_Br 2.txt
data/orig_txt/Plagh.txt
data/orig_txt/Quees.txt
data/orig_txt/ReinHist.txt
data/orig_txt/Renout_Be.txt
data/orig_txt/Renout_Be 2.txt
data/orig_txt/Renout_DH.txt
data/orig_txt/Renout_I.txt
data/orig_txt/Renout_S.txt
data/orig_txt/Reynaert.txt
data/orig_txt/RijmSpr.txt
data/orig_txt/Roel_A.txt
data/orig_txt/Roel_Br.txt
data/orig_txt/Roel_Ri.txt
data/orig_txt/Roel_Ro.txt
data/orig_txt/Rome.txt
data/orig_txt/Rubben.txt
data/orig_txt/SFl.txt
data/orig_txt/Saladin.txt
data/orig_txt/Sall.txt
data/orig_txt/Sebo_A.txt
data/orig_txt/Serv_L.txt
data/orig_txt/Sonde.txt
data/orig_txt/Sonde_Ge1.txt
data/orig_txt/Sonde_Ge2.txt
data/orig_txt/SpH2.txt
data/orig_txt/SpH4_ge4.txt
data/orig_txt/SpH4_m.txt
data/orig_txt/SpH5_5.txt
data/orig_txt/SpHMaerl.txt
data/orig_txt/Splint.txt
data/orig_txt/Theoph.txt
data/orig_txt/Torec.txt
data/orig_txt/Troyen.txt
data/orig_txt/Truwa.txt
data/orig_txt/Verg1.txt
data/orig_txt/Verg2.txt
data/orig_txt/Vingher.txt
data/orig_txt/VlRose.txt
data/orig_txt/VrHeim.txt
data/orig_txt/WalKey.txt
data/orig_txt/Walew.txt
data/orig_txt/WinterSomer.txt
data/orig_txt/WitVoe.txt
data/orig_txt/Woe.txt
data/orig_txt/WondeK.txt
data/orig_txt/WondeL.txt
data/orig_txt/WraRa.txt
data/orig_txt/WraRa_d1.txt
data/orig_txt/YstBl.txt
data/orig_txt/all_lines.txt
src/model_s/keras_model
data/corpus_viz.docx
data/corpus_viz.pdf
data/sample_words_1.txt
data/syllabified_sample_words_1.txt
src/visuals/distrib_sylls_per_word.pdf
src/visuals/distrib_chars_per_syl.pdf
src/visuals/distrib_chars_per_word.pdf
